<div class="container" id="CONTENTS">
    <div class="card">
        <div class="card-content" *ngIf="!accountService.getCurrentUserInfo()">
            <h4>[로그인]</h4>
            <div class="row">
            <div class="input-field col s12">
                <input id="signinMail" type="email" class="validate" placeholder="Email Account" #emailValue>
                <label for="signinMail">Email</label>
            </div>
            <div class="input-field col s12">
                <input id="signinPwd" type="password" class="validate" placeholder="Password" #pwdValue>
                <label for="signinPwd">Password</label>
            </div>
            <div class="input-field col s12">
                <button id="btnSignin" type="submit" class="btn right indigo" 
                    (click)="onCickedLogin(emailValue.value, pwdValue.value);
                    emailValue.value='';
                    pwdValue.value=''">
                    Login
                </button>
            </div>
            </div>
        </div>
        <!--/card-content-->

        <p class="card-panel light-blue darken-1" 
            *ngIf="accountService.getCurrentUserInfo()"> 
                Hello, {{accountName}} Good Luck! 
        </p>

    </div>
    <!--/card-->
</div>
<!--/container-->
